@import "gugs";

body {
    background: #03426f;
}

.text-brand-gradient {
    background:              linear-gradient(90deg, #6280ec 17.71%, #be56fe 87.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
