  $big_font: 60px;
  $big_height: 60px;
  $medium_font: 36px; 
  $medium_height: 36px;
  $menu_font: 18px;
  $menu_height: 30px;
  $low_font: 16px;
  $low_height: 20px;

  $big_font_m: 50px;
  $big_height_m: 50px;
  $medium_font_: 30px; 
  $medium_height_m: 30px;
  $menu_font_m: 14px;
  $menu_height_m: 20px;
  $low_font_m: 12px;
  $low_height_m: 12px;


  $big_font_s: 40px;
  $big_height_s: 40px;
  $medium_font_s: 25px; 
  $medium_height_s: 25px;
  $menu_font_s: 11px;
  $menu_height_s: 18px;
  $low_font_s: 10px;
  $low_height_s: 10px;


